<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-state = 1">
	<title> Solar Prediction Project </title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css')}}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>

 <body>

        {% extends "layout.html" %}
     {% block content %}
     
         <div id="Two" class="container">
     <iframe width="450" height="260" style="border: 1px solid #cccccc" src="https://thingspeak.com/channels/1447918/charts/7?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"></iframe>
     <p class="p1">Graph of actual output power</p>
    </div>

     
      <div id="One" class="container">
     <h3 class="p1"> Sensor Data </h3>
      <ul class="p2">
        <div> <h5> air temperature:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <b> {{field11}} ℃ </b> </h5> </div>
        <div> <h5> humidity: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <b> {{field22}} % </b> </h5> </div>
        <div> <h5> module temperat:&nbsp&nbsp&nbsp <b> {{field33}} ℃ </b> </h5> </div>
        <div> <h5> dust: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <b> {{field44}} &micro;g/㎥ </b> </h5> </div>
        <div> <h5> presure: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <b> {{field55}} atm </b> </h5> </div>
        <div> <h5> carbon monoxide:&nbsp&nbsp&nbsp <b> {{field66}} ppm </b> </h5> </div>
      </ul> 

    </div>


    <div id="Four" class="container">
      <div class="p1"> 
      <button type="button" class="btn btn-info" onclick= "window.location.href='/predict';"> <b> Predict </b> </button> 
      </div>
    </div>
    

    <div id="Five" class="container">
      <div class="p1"> Predicted Power is <b> {{Predicted}} W </b> </div>
    </div>

    <div id="Six" class="container">
      <div class="p1"> Actual Power is <b> {{Actual}} W </b> </div>
    </div>

    <div id="Seven" class="container">
      <div class="p1"> <b> {{Error}} % </b> error </div>
    </div>

        <div id="Eight" class="container">
      <p class="p1"> <u><b> Explanation of results </b></u> </p>
      <p> An error value of less than 30% means that the sensors were able to send valid measurements to the model. Wait 30 seconds for a new prediction.
          An error of more than 50% could indicate that there were bad values from the sensors, or that the model was overfitted for a particular range of values. The only way to solve this particular 
          problem is to collect more data and retraining the model to make it better. </p> 
    </div>
     {% endblock content %}
      
    

      
        <script src="{{url_for('static', filename='js/jquery-3.6.0.min.js')}}"></script>
      <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
     <script src="{{url_for('static', filename='myscript.js')}}"></script>
 </body>
 <footer> Copyright©Heroku 2021 </footer>    <!-- find a way to solve the issue of the footer -->
</html>
